.navbar {
  max-width: 1200px !important;
  margin: 0 auto;
}

.grid {
  max-width: 100%;
}

.grid-item {
  float: left;
  width: 160px;
  height: 120px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
  width: 320px;
}
.grid-item--height2 {
  height: 240px;
}
